scripts/rover_sm.pyc
scripts/worldmagneticmodel/wmm2015/__pycache__/__init__\.cpython-36\.pyc

scripts/worldmagneticmodel/wmm2015/__pycache__/plots\.cpython-36\.pyc

scripts/worldmagneticmodel/__pycache__/test_all\.cpython-36-PYTEST\.pyc

scripts/geomag/__pycache__/
