<launch>

    <!-- params required by navigation.py and auto.py -->
    <!-- rosparam param="/core_rover/Mode">"Auto"</rosparam -->
    <!-- rosparam param="rpm_limit">1000</rosparam -->
    <!-- rosparam param="steer_limit">1000</rosparam -->

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node">

        <!-- switch on debug -->
        <param name="debug" value="true"/>

        <!-- node configuration -->
        <param name="frequency" value="30"/>
        <param name="sensor_timeout" value="0.1"/>
        <param name="two_d_mode" value="false"/>

        <!-- may need to change these depending on the frame_ids used by the playback data -->
        <param name="map_frame" value="map"/>
        <param name="odom_frame" value="odom"/>
        <param name="base_link_frame" value="base_link"/>
        <param name="world_frame" value="odom"/>

        <!-- subscription to IMU topic -->
        <param name="imu0" value="/nova_common/ImuRaw"/>
        <param name="imu0_differential" value="false"/> <!-- set false if with navsat transform -->
        <rosparam param="imu0_config">[true,true,true,
                                       true,true,true,
                                       true,true,true,
                                       true,true,true,
                                       true,true,true]</rosparam>

        <!-- publish to filtered odometry -->
        <remap from="odometry/filtered" to="/nova_common/OdometryFiltered"/>

    </node>

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node">

        <param name="frequency" value="30"/>
        
       
        <!-- read raw imu, raw gps, and filtered odometry -->
        <remap from="imu/data" to="/nova_common/ImuRaw"/>
        <remap from="gps/fix" to="/nova_common/MagnetometerRawSmoothed"/>
        <remap from="odometry/filtered" to="/nova_common/OdometryFiltered"/>

        <!-- publish to filtered gps -->
        <param name="publish_filtered_gps" value="true"/>
        <remap from="gps/filtered" to="/nova_common/GpsFiltered"/>

    </node>

</launch>
