<launch>

    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
        <param name="output_frame" value="odom_combined"/>
        <param name="base_footprint_frame" value="base_footprint"/>
        <param name="freq" value="30.0"/>
        <param name="sensor_timeout" value="1.0"/>
        <param name="odom_used" value="true"/>
        <param name="imu_used" value="true"/>
        <param name="vo_used" value="true"/>
    </node>

    <node pkg="gps_common" type="utm_odometry_node" name="gps_conv">
        <remap from="fix" to="gps"/>
        <remap from="odom" to="vo"/>
        <param name="rot_covariance" value="99999"/>
        <param name="frame_id" value="base_footprint"/>
    </node>

</launch>
