<launch>

  <!-- Configure your camera info as needed -->
  <node name="camera_server" pkg="core_rover" type="camera_server.py" output="screen">  
    <rosparam>
        port:        10720
        n_cams:      5
        def_dest:   '192.168.1.0'
        
        cam_0:
          id:      'Integrated Camera: Integrated C'
          usb:      True
          name:    'IntegratedCam'
          default:  False
          
        cam_1:  
          id:      '192.168.1.53'
          usb:      False
          name:    'GimbalCam1'
          default:  False
          
        cam_2:  
          id:      'Stereo Vision 2'
          usb:      True
          name:    'Webcam Sphere Legs'
          default:  False
          
        cam_3:  
          id:      'Stereo Vision 1'
          usb:      True
          name:    'Webcam Sphere Legs'
          default:  False
          
        cam_4:  
          id:      'UVC Camera (046d:09a1)'
          usb:      True
          name:    'Webcam Sphere Focus'
          default:  False
          
    </rosparam>    
  </node>

</launch>
