<launch>

  <!-- Configure your camera info as needed -->
  <node name="camera_server" pkg="core_rover" type="camera_server.py" output="screen">  
    <rosparam>
        port:       10720
        n_cams:     5
        host_def:   '192.168.1.200'
        
        cam_0:
          id:      'also:fake'
          name:    'VR Cam'
          default:  False
          
        cam_1:  
          id:      'very:fake'
          name:    'Gimbal Cam'
          default:  False
          
        cam_2:  
          id:      '046d:0825'
          name:    'Webcam Rectangular'
          default:  True
          
        cam_3:  
          id:      '046d:09a1'
          name:    'Webcam Sphere Legs'
          default:  True
          
        cam_4:  
          id:      '046d:0824'
          name:    'Webcam Sphere Focus'
          default:  True
          
    </rosparam>    
  </node>

</launch>
