<launch>
	<node pkg="rtabmap_ros" name="rtabmap_cloud" type="rtabmap">
		<!-- subscribe to raw point clouds -->
		<!-- remap from="scan_cloud" to="TBD"/-->>
		<remap from="cloud_map" to="/rtabmap/cloud_filtered/"

		<param name="subscribe_scan_cloud" value="true"/>

		<param name="frame_id" value="base_link"/>
		<param name="map_frame_id" value="map"/>
		<remap from="odom" to="/ekf/Odometry"/>
		
		<!-- <param name="map_filter_radius" value="7.0"/> -->
		<!-- <param name="map_filter_angle" value="0.0"> -->

		<!-- reduce point cloud noise -->
		<param name="cloud_noise_filtering_radius" value="0.05"/>
		<param name="cloud_noise_filtering_min_neighbours" value="5"/>
		<param name="cloud_max_depth" value="7.0"/>


	</node>
	<node pkg="rtabmap_ros" name="rtabmap_grid" type="rtabmap">
		<!-- subscribe to raw point clouds -->
		<remap from="scan_cloud" to="/rtabmap/cloud_filtered/"/>
		<remap from="odom" to="/ekf/Odometry"/>

		<!-- publish projected map -->

		<param name="subscribe_scan_cloud" value="true"/>

		<param name="frame_id" value="base_link"/>
		<param name="map_frame_id" value="map"/>
		<remap from="odom" to="/ekf/Odometry"/>
		
		<!-- <param name="map_filter_radius" value="7.0"/> -->
		<!-- <param name="map_filter_angle" value="0.0"> -->

		<!-- define map grid params -->
		<!-- min 20m wide map -->
		<param name="grid_size" value="50">

		<!-- define grid cell params -->
		<param name="grid_cell_size" value="0.2"/>
		<param name="grid_eroded" value="false"/>
		<param name="grid_unknown_space_filled" value="false"/>

		<!-- define map downward projection params -->
		<param name="proj_max_ground_angle" value="30.0"/>
		<param name="proj_min_cluster_size" value="20"/>

		<!-- all points above 20cm are obstacles -->
		<param name="Grid/MaxGroundHeight" type="string" value="0.2"/>
		<!-- all points below 2m are obstacles --> 
		<param name="proj_max_height" value="2.0"/>

		<!-- define footprint params -->
		<!-- param name="Grid/FootprintLength" value=""/-->
		<!-- param name="Grid/FootprintWidth" value=""/-->

	</node>
<!--	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">

                <param name="resolution" value="0.05" />

                <!-- fixed map frame (set to 'map' if SLAM or localization running) -->
                <param name="frame_id" type="string" value="/odom" />
		<param name="base_frame_id" value="base_link">

                <!-- maximum point-cloud range to integrate -->
                <param name="sensor_model/max_range" value="7.0" />

		<!-- Define ground filter params -->
		<param name="filter_ground" value="true">
		<param name="ground_filter/distance" value="" />
		<param name="ground_filter/angle" value=".20" />
		<param name="ground_filter/plane_distance" value="" />
		
                <!-- data source to integrate (PointCloud2) -->
                <remap from="/cloud_in" to="/rtabmap/cloud_map" />

                <remap from="tf_static" to="/tf" />

	</node> -->
</launch>
